.card {
	border: 1px solid rgb(221, 219, 218);
	border-radius: 0.25rem;
}

.cardTitle {
	background-color: rgb(243, 242, 242);
	/*box-shadow: none;*/
	padding: .75rem;
	font-size: 1rem;
}

.cardFooter {
	background-color:  rgb(243, 242, 242);
}